@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --tertiary:#F4EEFF;
    --secondary: #DCD6F7;
    --sub_primary:#A6B1E1;
    --primary:#424874;
    scroll-behavior: smooth;
}

.playfair-display-600 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
.playfair-display-900 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

.playfair-display-400 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-100 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-900 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
}

header{
    min-height: 10vh;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}
.logo img{
    width: 60px;
    object-fit: contain;
}

header > .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header > nav{
    display: flex;
    justify-content: space-evenly;
}

header > nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary);
}

header > nav span, button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    margin: 0.5rem;
}
header nav span:hover{
    background-color: var(--sub_primary);
}
header nav button{
    background-color: var(--primary); 
    margin: 0.5rem 0.9rem;
}
header nav button a{
    color: var(--tertiary);
}
header nav button:hover{
    box-shadow: 2px 2px 0px black;
}
marquee span{
    padding: 1rem;
    text-decoration: underline;
}

footer{
    max-height: 50vh;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 2rem;
}
footer .info{
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
footer h5{
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}

footer .info .socials a{
  margin: 0 0.5rem 0 0;
}
footer .info .socials a:hover svg{
  filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
}

footer .footer-nav{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.5rem;
}
footer .footer-nav a{
   color: rgba(0,0,0,0.7);
   text-decoration: none;
   font-size: 1.1rem;
}
footer .footer-nav a:hover{
    text-decoration: underline;
}

footer .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.9rem;
    padding-left: 3rem;
}

footer .newsletter h3{
    font-size: 3rem;
    color: var(--primary);
}
footer .newsletter .newsletter-info{
    font-size: 1.9rem;
    color: rgba(0,0,0,0.7);
}
footer .newsletter form{
    color: var(--primary);
    margin-top: 2rem;
}
footer .newsletter form input{
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--primary);
    font-size: 1rem;
}
footer .newsletter form button{
    border: 1px solid var(--primary);
}
