.hero-home{
    height: 80vh;
    background:var(--tertiary) url(../assets/school_back.webp) no-repeat ;
    background-size: 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-home h1{
    font-size: 7rem;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.892);
    backdrop-filter:blur(1px);
    margin-bottom: 2rem;
}

.hero-home h1,q{
    padding: 1rem;
    border-radius: 50px;
}
.hero-home q{
    /* background-color: black; */
    color: var(--primary);
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
}

.hero-home a{
    font-size: 1.2rem;
    background-color: var(--tertiary);
    padding: 1rem;
    text-decoration: none;
    color: var(--primary);
    border-radius: 20px;
    box-shadow: 0px 0px 5px var(--primary);
}
.hero-home a:hover{
    background-color: var(--tertiary);
    box-shadow: 0px 0px 10px var(--primary);
}

.aboutus{
    max-width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secondary);
}

.aboutus h2{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--primary);
}

.aboutus .container .item{
    /* background-color: rgba(0,0,0,0.5); */
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 2rem;
    margin: 2rem;
}

.aboutus .container .item img{
    width: 60%;
    object-fit: cover;
    border: 10px double var(--primary);
    border-radius: 50px;
    box-shadow: 0px 0px 5px black;
    transition: all linear 100ms;
}
.aboutus .container .item:hover img{
    scale: 1.1;
}

.aboutus .container .item .text h4{
    font-size: 2.5rem;
    color: var(--primary);
}

.testimonial-section{
    min-height: 50vh;
    background-color: var(--tertiary);
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}

.testimonial-section .review{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review .author{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.review .text{
    text-align: center;
}
.review h4 p{
    text-align: center;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.7);
}



@media (max-width:400px) {
    .hero-home{
        height: 50vh;
        background-size: 200%;
    }
    .hero-home h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    
    .hero-home a{
        font-size: 1rem;
        padding: 0.9rem;
    }
    
    .aboutus{
        padding: 1rem;
    }
    
    .aboutus h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .aboutus .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .aboutus .container .item{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 0.3rem;
       
    }
    
    .aboutus .container .item img{
        width: 100%;
        margin-bottom: 0.8rem;
    }

    .aboutus .container .item .text h4{
        text-align: center;
        font-size: 1rem;
    }

    .aboutus .container .item .text p{
        text-align: center;
        font-size: 0.7rem;
        overflow: hidden;
    }

    .testimonial-section{
        padding: 1rem;
        flex-direction:column;  
    }
    
    .testimonial-section .review{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .review .author{
        font-size: 1rem;
    }

    .review {
        font-size: 0.7rem;
    }


}
